<p><cite><a href="http://www3.interscience.wiley.com/journal/123345005/abstract">Daniel A. Janies, Travis Treseder, Boyan Alexandrov, Farhat Habib, Jennifer J. Chen, Renato Ferreira, Ümit Çatalyürek, Andrés Varón, Ward C. Wheeler.  2010. Linking pathogen genomes with geography to fight emergent infectious diseases.  Cladistics. 26. 1-6.</a></cite></p>

<p>We have made a Supramap with 239 sequences of the polymerase basic 2 (PB2) gene of recent isolates of avian influenza (H5N1). We map a mutation that allows for increased replication of avian influenza in mammals (E627K in PB2). We use a statistical test to support the hypothesis of a correlation of E627K mutations with avian-mammalian host shifts but reject the hypothesis that lineages with E627K are moving westward. Below is the list of relevant files:</p>

<ul><li><a href="http://supramap.osu.edu/h5n1_239/H5N1_239.kmz.readme.txt">H5N1_239.kmz.readme.txt</a></li>
<li><a href="http://supramap.osu.edu/h5n1_239/Janies_etal_H5N1_239_03.03.09.kmz">Janies_etal_H5N1_239_03.03.09.kmz</a></li>
<li><a href="http://supramap.osu.edu/h5n1_239/pb2239.csv">pb2239.csv</a></li>
<li><a href="http://supramap.osu.edu/h5n1_239/pb2239.fas">pb2239.fas</a></li></ul>
