<p>
<cite><a href="http://journals.cambridge.org/repo_A78auyCI">Daniel A. Janies, Igor O. Voronkin, Manirupa Das, Jori Hardman, Travis W. Treseder, and Jonathon Studer. From data sharing to shared analytical capabilities. Genome Informatics of Influenza A.  Animal Health Research Reviews 11: 73-79.</a></cite><br/>
Copyright Cambridge University Press
</p>
<p>
A full special issue of the journal can be found online <a href="http://journals.cambridge.org/action/displayIssue?jid=AHR&volumeId=11&issueId=01&iid=7825013">here</a>.
</p>
<p>Supramap of the <a href="http://bmi.osu.edu/%7Ejanies/H1N1_NA.kmz">spread of H1N1</a> over space, time, and various hosts based on neuraminidase sequences from the above paper:</p>
