<p><cite>
Janies, D., Hill A.,  Alexandrov, B.,  Habib, F.,  Pol, D. 2008. "Evolution of genomes, host shifts, and geographic spread of SARS-CoV and related coronaviruses", Cladistics. 24:111–130.
</cite></p>

<p>Below is a list of links to supplementary materials for the paper. Email <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#114;&#97;&#109;&#97;&#112;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>Daniel Janies</a> to request a copy 
of the paper in PDF format.</p>

<ul>
	<li><a href="/cov/cov114.host.raxmltree929.names.pdf">cov114.host.raxmltree929.names.pdf</li>
	<li><a href="/cov/cov114.host.raxmltree929boot.nex">cov114.host.raxmltree929boot.nex</li>
	<li><a href="/cov/janiesetal2008covsars.kmz">janiesetal2008covsars.kmz</a></li>
	<li><a href="/cov/r1000.cov83.jackknife.log">r1000.cov83.jackknife.log</a></li>
	<li><a href="/cov/r1000.cov114.jackknife.log">r1000.cov114.jackknife.log</a></li>
	<li><a href="/cov/r1000.cov157.jackknife.log">r1000.cov157.jackknife.log</a></li>
	<%#<li><a href="/cov/readmesarskml.pdf">readmesarskml.pdf</a></li> %>
	<li><a href="/cov/screenshot.jpg">screenshot.jpg</a></li>
	<li><a href="/cov/spike.aa.pos479.pdf">spike.aa.pos479.pdf</a></li>
	<li><a href="/cov/spike.aa.pos487.pdf">spike.aa.pos487.pdf</a></li>
	<%# <li><a href="/cov/supplementarymaterial.txt">supplementarymaterial.txt</a></li> %>
</ul>
