<p><cite>2009	Hill, A.W., R. Guralnick, M. Wilson, F. Habib, D. Janies.  Evolution of drug resistance in multiple distinct lineages of H5N1 avian influenza.  Infection, Genetics, and Evolution. 9: 169-178.  Top 10 most downloaded for the journal.</cite></p>
<ul>
<li><a href="http://supramap.osu.edu/sm/files/h5n1_677.kmz">Supplementary kml</a></li>
</ul>
