<p>A new phylogenetic and geographic study of the evolution of viral hemorrhagic septicemia virus (VHSV) </p>

<p>Viral hemorrhagic septicemia (VHS) is a viral pathogen that has recently infected fish in the Great Lakes and elsewhere in North America.  Jonathon Studer and Daniel Janies of the Ohio State University Department of Biomedical Informatics use SUPRAMAP (http://supramap.osu.edu) to analyze genetic sequence and geographic data to show the virus' transmission routes – a first step to controlling the disease.  </p>

<p>Studer, J. and Janies. D. 2011. Global spread and evolution haemorrhagic septicaemia virus.  Journal of Fish Diseases. 34: 741–747.  </p>

<p><a href=" http://onlinelibrary.wiley.com/doi/10.1111/j.1365-2761.2011.01290.x/abstract">Link to Abstract </a>        </p>