<h2>Introduction</h2>
<p>Supramap is a completely new method of generating and sharing knowledge about evolution and biogeography.</p>
<p>A supramap gives people a quick and easy way to integrate genotypic and phenotypic data in a geospatial context. When
  viewed in a virtual globe (e.g. Google Earth or NASA WorldWind), the user has an interactive map of the spread of
  various lineages of organisms (e.g. strains of pathogens) over the earth.</p>
<p>Please
  <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#114;&#97;&#109;&#97;&#112;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>contact
    us</a> with your ideas. Our long term goal is to enhance use of the supramap concept by a range of users in diverse
  fields such as public health and biogeography.</p>&nbsp;<br/>

<h2>Video Demonstration</h2>
<script type="text/javascript" src="http://blog.deconcept.com/swfobject/swfobject.js"></script>
<div id="demo-video">
  <p>To view flash video, this browser needs the
    <a href="http://www.adobe.com/flashplayer/">Flash 8 (or higher) plug-in</a></p>
</div>
<script type="text/javascript">
    // <![CDATA[
    var so = new SWFObject("http://www.osu.edu/features/2007/mapmashups/video.swf?autostart=true&clicktext=447", "", "400", "320", "8", "#000");
    so.write("demo-video");
    // ]]>
</script>

<h2>Video Transcript</h2>
<div style="height:250px;overflow:auto;">
  <p>This interactive map shows the spread of the avian flu virus over the past decade.
  </p>

  <p>We created an evolutionary tree of the virus' mutations, and used the program Google Earth to project that tree
    onto the globe.
  </p>

  <p>The lines show where different strains of the virus mutated, and where they spread.</p>

  <p>The idea is to help predict where the next outbreak of the virus is likely to occur.</p>

  <p>We chose different colors and symbols to indicate the different animal hosts that carry the virus and where they
    live.</p>

  <p>Birds, humans and other mammals, and insects that carried the virus are all represented.</p>

  <p>If you click on a specific host animal, you'll get a popup window that shows the mutations that distinguish one
    strain of the virus from another.</p>

  <p>Then we linked our map back to the primary genomic data housed at the National Institutes of Health.</p>

  <p>The map gives us a whole new way of seeing the virus in action and understanding what it is - and isn't -
    doing.</p>

  <p>We now think we better understand whether mutations that seem to be associated with certain hosts or geographic
    regions appeared by chance... or whether they were true adaptations of the virus as it spread.</p>

  <p>One thing we found was a strong association between a specific strain and mammals that carried the virus.</p>

  <p>We think it's important to track how this particular strain is spreading because it appears to be so infective and
    deadly.</p>

  <p>The map is really a new way for investigators to share information about avian flu outbreaks with each other and
    the public.</p>

  <p>In the meantime, we are working on mapping other diseases, such as SARS. </p></div>