<p>
  We acknowledge that this material is based upon work supported by, or in part by, the U.S. Army Research Laboratory
  and the U.S. Army Research Office under contract/grant numbers W911NF-05-1-0271 and W911NF-10-1-0339.
</p>
<p>
  We also acknowledge the support of various entities at The Ohio State University, including: the Department of
  Biomedical Informatics, the Digital Union, Technology Enhanced Learning and Research, and the Ohio State University
  Medical Center and its Information Systems Department. The computing cluster that supports Supramap is hosted by the
  Medical Center Information Services team of OSU.
</p>
<p>
  Several undergraduate students from The Ohio State University who contributed to this project have been supported via
  the Choose Ohio First Scholarship Program of the Ohio Board of Regents.
</p>
<p>
  We also thank Google.org and the American Museum of Natural History for intellectual and financial support.
</p>

<div class='content_item' style='max-width: 600px;margin: 1em auto;'>
  <br/> <br/>
  Offices of Academic Affairs and Research of the Ohio State University for supporting the Innovation Group
  Global Infectious Disease Research. </p>
  <a href="http://gidr.osu.edu">
    <img style='max-width: 600px;margin: 1em auto;  alt="Supermap" src="images/GIDR Logo.jpg" />
</a>
</div>

