<!-- All email addresses munged at http://www.fingerlakesbmw.org/main/flobfuscate.php -->

<h2>Authors</h2>

<p><a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#97;&#110;&#106;&#97;&#110;&#105;&#101;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>Dan Janies</a>- Results, datasets, and background information; registration, bug reports, and general inquiries about the project.

<p><a href="http://groups.google.com/group/supramap">SUPRAMAP user group to come</a>

<h3>Programmers</h3>
<p>Jennifer Jody Chen and 
	<a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#111;&#121;&#97;&#110;&#46;&#97;&#108;&#101;&#120;&#97;&#110;&#100;&#114;&#111;&#118;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>
		Boyan Alexandrov</a> - Web application and user interfaces.
<br/>Travis Treseder - Infrastucture.
<br/>Farhat Habib - Hardware.

<h3>Collaborators</h3>
<p><a href="http://research.amnh.org/scicomp/staff.html#zoology">Andrés Varón, Ward Wheeler</a> - POY4.

<p><a href="http://groups.google.com/group/poy4">POY4 user group</a>

<h3>Acknowledgements</h3>
<p>We acknowledge that this material is based upon work supported by, or in part by, the U.S. Army Research Laboratory and the U.S. Army Research Office</a> under contract/grant number W911NF-05-1-0271</p>
<p>We also acknowledge the support of various entities at <a href="http://www.osu.edu" target="_blank">The Ohio State University</a>, including:
the <a href="http://bmi.osu.edu" target="_blank">Department of Biomedical Informatics</a>, 
the Digital Union,
Technology Enhanced Learning and Research, 
and the Ohio State University Medical Center
and its Information Systems Department.
</p>
