<!-- All email addresses munged at http://www.fingerlakesbmw.org/main/flobfuscate.php -->

<h2>Contact Information</h2>
<p>Email us at <a href="mailto:supramap@gmail.com">supramap@gmail.com</a> or post a question to the
  <a href="http://groups.google.com/group/supramap">supramap user group</a></p>

<h3>OSU BMI Lab</h3>
<p><a href="http://biomed.osu.edu/bmi/directory/faculty/janies/">Dan Janies</a> - Results, datasets, and background
  information; registration, bug reports, and general inquiries about the project.</p>

<p><a href="http://biomed.osu.edu/bmi/directory/">Igor Voronkin</a> - data integration</p>

<p><a href="mailto:aaronson.6@osu.edu">Jacob Aaronson</a> - Software Developer</p>

<h3>Collaborators</h3>
<p><a href="http://groups.google.com/group/poy4">POY4 user group</a></p>
<p><a href="http://research.amnh.org/scicomp/ward_wheeler.html">Ward Wheeler</a></p>
<p><a href="http://www.osc.edu/">Ohio Supercomputer Center</a></p>
