<fieldset>
	<legend>Edit <%= h(@project.name) %></legend>
	
	<% form_for :name, @project, :url => {:action => "update_project", :id => @project.id} do |form| %>
		<p>
			Name: <%= form.text_field :name, :size => 20 %>
		</p>
		<%= submit_tag "Save", :class => "submit" %>
	<% end%>
</fieldset>