<div id="welcome">
  <p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.
  <ul>
    <li>
      Supramap now available as a modular web service (link to poyws) to which many client applications (link to geogenes) can connect.
    </li>
    <li>
    More information describing the effort are available at this link (links to come)
    </li>
    <li>
      Create your <i>own</i> maps by starting with simple and
      free <%= link_to "registration", {:controller => "login", :action => "register"} %>.
    </li>
  </ul>
  </p>
</div>

<p>&nbsp;</p>

<p>
  <object width="560" height="340">
    <param name="movie" value="http://www.youtube.com/v/EQaFFhmuWhU&hl=en_US&fs=1&"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/EQaFFhmuWhU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed>
  </object>
</p>
