<div id="welcome">
<p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.
<ul>
    <li>See the H1N1 supramap below, or the publications page for SARS and Avian Influenza.  (Dowloading maps does <u>not</u> require registration.)</li>	
    <li>Create your <i>own</i> maps by starting with simple and free <%= link_to "registration", {:controller => "login", :action => "register" }%>.</li>
</ul>
<br><font size="1">Note: If your browser supports the time bar in the map below, separate the two time selectors to see how H1N1 spreads over time.</font>
</p>
</div>

<h2>Evolution and spread of H1N1 influenza</h2>
<br/>&nbsp;
<div id='map3d_container' style='height: 600px; width: 800px; margin:auto'>
	<div id='map3d' style='height: 100%;'></div>
</div>
