<div id="welcome">
  <p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.
  <ul>
    <li>The paper announcing this web application:
      <a href="http://www3.interscience.wiley.com/cgi-bin/fulltext/123345005/PDFSTART">
        The Supramap project: Linking pathogen genomes with geography to fight emergent infections diseases</a> Is now
      open access.
    </li>
    <li>See the H1N1 supramap demonstration video below, or the publications page for SARS and Avian Influenza.
      (Dowloading maps does not require registration.)
    </li>
    <li>Create your <i>own</i> maps by starting with simple and
      free <%= link_to "registration", {:controller => "login", :action => "register"} %>.
    </li>
  </ul>
  </p>
</div>

<p>&nbsp;</p>

<p>
  <object width="560" height="340">
    <param name="movie" value="http://www.youtube.com/v/EQaFFhmuWhU&hl=en_US&fs=1&"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/EQaFFhmuWhU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed>
  </object>
</p>
