<h2>Welcome</h2>
<p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.</p>
<p>Downloading maps requires no registration.</p>

<p>See the map below for H1N1 or the publications page for SARS and Avian Influenza.</p>
<p>Running the application to create your <i>own</i> maps requires free and
  simple <%= link_to "registration", {:action => "make_a_supramap"}, {:class => "make-a-supramap"} %>.</p>

<h2>Evolution and spread of H1N1 influenza</h2>
<br/>&nbsp;
<div id='map3d_container' style='height: 600px; width: 800px; margin:auto'>
  <div id='map3d' style='height: 100%;'></div>
</div>
