<p>
  The Supramap project has resulted in several publications:
  <br/><br/>
  <a href="http://supramap.osu.edu/publication/pub6">A new phylogenetic and geographic study of the evolution of viral hemorrhagic septicemia virus (VHSV)</a>
  <br/><br/>


  <a href="http://supramap.osu.edu/publication/pub1">The Supramap project: Linking pathogen genomes with geography to
    fight emergent infections diseases</a>
  <br/><br/>
  <a href="http://supramap.osu.edu/publication/pub2">From data sharing to shared analytical capabilities. Genome
    Informatics of Influenza A</a>
  <br/><br/>
  <a href="http://supramap.osu.edu/publication/pub3">Evolution of genomes, host shifts, and geographic spread of
    SARS-CoV and related coronaviruses</a>
  <br/><br/>
  <a href="http://supramap.osu.edu/publication/pub4">Genomic Analysis and Geographic Visualization of the Spread of
    Avian Influenza (H5N1)</a>
  <br/><br/>
  <a href="http://supramap.osu.edu/publication/pub5">Evolution of drug resistance in multiple distinct lineages of H5N1
    avian influenza</a>
</p>
