<center>
  <object width="640" height="385">
    <param name="movie" value="http://www.youtube.com/v/pi4_ekivQbA&hl=en_US&fs=1&rel=0&color1=0x2b405b&co    lor2=0x6b8ab6"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/pi4_ekivQbA&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></
    embed>
  </object>
</center>

<h2>Biomedical Informatics</h2>
<p>Biologists have powerful new tools for collecting large comparative genomic, phenotypic, and geospatial datasets.
  However our ability to make sense of these data lies far behind acquisition. New platforms for analyses and
  visualization of large integrated data such as Supramap are necessary to generate and test hypotheses.</p>

<h2>Phylogenetics</h2>
<p>The field of phylogenetics, the analysis of the relationships and evolutionary trajectory of organisms, is
  fundamental to make sense of phenotypic and genomic data. Because phylogenetics is able to detect not only changes
  that discriminate among organismal lineages but also changes that have occurred many times in parallel, phylogenetic
  trees provide significant predictive power. Models on the direction, frequency, order, and reversibility of genotypic
  and phenotypic changes inferred from phylogenetic analyses are increasingly critical tools for numerous disciplines in
  biomedicine and public health, and thus are important to national and economic security.</p>

<h2>Viral Evolution</h2>
<p>Worldwide, zoonotic diseases such as Severe Acute Respiratory Syndrome (SARS) and influenza have a negative impact on
  public health, travel, and economies. Moreover most microorganisms that have been co-opted for weapons are known from
  their roles in zoonotic disease. Supramap can be used to study zoonotic events at a genomic level in a geographic and
  temporal context.</p>

<h2>Geographic Mapping</h2>
<p>Geographic mapping of evolutionary trees projected into a virtual globe allows users to analyze the spread of the
  organismal lineages into areas of interest. When all these data are integrated, we can visualize patterns in or to
  develop and test hypotheses. For example, we have used supramap to combine phylogenetic and virtual globe technologies
  to pinpoint which strains of a virus are infecting which hosts in specific areas (Janies et al., 2007). Finally,
  because phylogenetic analysis groups like strains into lineages, information drawn from limited experimentation on one
  strain in a lineage can be used to predict the properties of another strain in the lineage. This transitive property
  of phylogenetic inference will help us predict which strains are capable of infecting humans, are pathogenic, and/or
  are resistant to drugs. These capabilities are valuable to the public health community to make informed decisions on
  where and how to allocate resources to prepare for emerging diseases.</p>
<p>
  <cite>Janies, D., Hill, A., Guralnick, R., Habib, F., Waltari, E., Wheeler, W.C. 2007. Genomic Analysis and Geographic
    Visualization of the Spread of Avian Influenza (H5N1). Systematic Biology. 56:321-9.</cite></p>
