<fieldset><legend>Define a new job</legend>

  <% form_for :job, @job, :url => {:action => "select_files"} do |form| %>
  <input type="hidden" name="job[project_id]" value="<%= h(@project.id) %>" />
  <table>
    <tr>
      <td colspan="2">Job name:<%= form.text_field :name, :size => 20 %></td>
    </tr>
    <tr>
      <td><%= submit_tag "Continue", :class => "submit" %>
      <%= submit_tag "Cancel", :name => "cancel", :class => "submit" %></td>
    </tr>
  </table>
  <% end%>
</fieldset>
