<table>
	<tr>
		<td><%= button_to "List users", :controller => "login", :action => "list_users" %></td>
		<td><%= button_to "Add user", :controller => "login", :action => "show_add_user" %></td>
		<td><%= button_to "Back to projects", :controller => "supramap", :action => "projects" %></td>
	</tr>
</table>